
.feedback h2{
    color: var(--main-light, #2F353F);
    font-family: "Neue Machina Regular";
    padding: 0px 150px;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 90px; /* 112.5% */
}
 
 
.feedback .user-comments{
    width: 100%;
    display: flex;
    padding: 0 150px;
    box-sizing: border-box;
}
 
.feedback .user-info{
    /* display: flex; */
    /* align-items: flex-end; */
    gap: 50px;
}
.feedback .user-info p:nth-child(1){
    color: var(--main-blue, #2E2BD0);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Neue Machina Regular";
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 60px */
    margin: 0;
}
.feedback .user-info p:nth-child(2){
    color: rgba(47, 53, 63, 0.70);
    font-family: Gilroy;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 39px */
    margin: 0;
}
 
.feedback .user-info img{
    width: 90px;
    height: 90px;
}
 
 
 
.feedback .comment{
    justify-content: space-between;
    flex-shrink: 0;
    width: 33%;
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    border: 2px solid #909398;
    padding: 50px;
    box-sizing: border-box;
    gap: 50px;     /*wtf */
    padding-top: 100px;
}
 
 
.feedback .user-text{
    color: rgba(47, 53, 63, 0.70);
    font-family: Gilroy;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 60px */
}
 
.feedback button{
    display: inline-flex;
    padding: 17px 40px;
    color: var(--main-blue, #2E2BD0);
    font-family: "Neue Machina Regular";
    font-size: clamp(1px, 1vw, 23px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    justify-content: center;
    align-items: flex-start;
    background-color: transparent;
    border-radius: 20px;
    border: 2px solid var(--main-blue, #2E2BD0);
    box-sizing: border-box;
    gap: 10px;
    width: 90%;
    margin-top: 50px;
}
 
.feedback .number-one{
    color: var(--main-light, #2F353F);
text-align: center;
font-family: "Neue Machina Regular";
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 48px */
}
 
 
.feedback .another-button {
display: inline-flex;
justify-content: center;
align-items: flex-start;
width: 100%;
gap: 50px;
padding: 0 150px;
box-sizing: border-box;
margin-top: 150px;
}

@media (max-width: 1350px) {
    .feedback .user-comments {
        display: flex;
        width: 100%;
        justify-content: center;


    }
    .feedback h2{
    color: var(--main-light, #2F353F);
    font-family: "Neue Machina Regular";

    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 90px; /* 112.5% */
    }
    .feedback .user-comments{
    width: 100%;
    display: flex;
    overflow-x: scroll;
    padding: 0 30px;
    gap: 20px;
}

.feedback .user-info{
    display: flex;
    align-items: flex-end;
    gap: 50px;
}
.feedback .user-info p:nth-child(1){
    color: var(--main-blue, #2E2BD0);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Neue Machina Regular";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 60px */
    margin: 0;
}
.feedback .user-info p:nth-child(2){
    color: rgba(47, 53, 63, 0.70);
    font-family: Gilroy;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 39px */
    margin: 0;
}

.feedback .user-info img{
    width: 160px;
    height: 160px;
}
.feedback .comment{
    flex-shrink: 0;
    width: 880px;
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    border: 2px solid #909398;
    padding: 50px;
    box-sizing: border-box;
    gap: 100px;
}
.feedback .user-text{
    color: rgba(47, 53, 63, 0.70);
    font-family: Gilroy;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 60px */
}

.feedback button{
    display: flex;
    padding: 24px 40px 17px 40px;
    color: var(--main-blue, #2E2BD0);
    font-family: "Neue Machina Regular";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    justify-content: center;
    align-items: flex-start;
    background-color: transparent;
    border-radius: 20px;
    border: 2px solid var(--main-blue, #2E2BD0);
    box-sizing: border-box;
    gap: 10px;
}
.feedback button svg{
    width: 34px;
    height: 34px;
}
.feedback .number-one{
    display: none;
}

.feedback .another-button {
    display: none;
}
}



:root{
    --circle-first:#2F353F;
    --circle-second:#C1C2C5;
    --circle-third:#2E2BD0;
    --color-main-blue:#2E2BD0;
    --radius-info-grid-article: 2.5rem;
    --font-size-info-grid-article-p:1.875rem;
    --radius-circle: 11.25rem;
    --border-circle:2px solid #FFF
}

.info *{
    padding: 0;
    margin: 0;
}
.info {
    /* padding: 0;
    margin: 0; */
    padding: 0 9.38rem;
  
}
.info h1{
    color: var(--main-light, #2F353F);
    font-family: "Neue Machina Regular";
    font-size: 3.75rem;
    padding-bottom: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.info-container{
    display: flex;
    column-gap: 10rem;
    margin-bottom: 15rem;
}
.info-container .info__text{
    max-width: 47rem;
    width: 100%;
}
.info-container .info__text p{
    color: rgba(47, 53, 63, 0.70);
    font-family: Gilroy;
    font-size: var(--font-size-info-grid-article-p);
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 2.8125rem */
}
.info-container .info-grid{
    display: grid;
    grid-template-columns: repeat(2,22rem);
    grid-template-rows: repeat(2,15rem);
}
.info-container .info-grid article{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding: 2rem;
    border-radius: var(--radius-info-grid-article);
    border: 1px solid #909398;
}
.info-grid article:nth-child(3){
    background-image: url(../img/background-img.jpg);
    background-blend-mode:soft-light;
    background-size: cover;
    position: relative;
    right: 1rem;
    top: 1rem;
    background-color: #5E5BE3;
}
.info-grid article:nth-child(3) span{
    color: white;
}
.info-grid article:nth-child(3) p{
    color: rgba(255, 255, 255, 0.70);
}
.info-grid article:last-child{
    row-gap: 0px; 
}
.info-grid article span{
    color: var(--color-main-blue);
    font-family: "Neue Machina Regular";
    font-size: 3.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.info-grid article p{
    color: rgba(47, 53, 63, 0.70);
    font-family: Gilroy;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 2.25rem */
}
.circles-wrraper{
    display: flex;
}
.circles-wrraper .circle{
    width: 11.25rem;
    height: 11.25rem;
    border-radius: var(--radius-circle);
    border: var(--border-circle);
}
.circles-wrraper .circle:last-child{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9695E7;
}
.circle-moved{
    margin-left: -3.3rem;
}
.circles-wrraper .circle-black{
    background-color: var(--circle-first);
}
.circles-wrraper .circle-white{
    background-color: var(--circle-second);
}
.circles-wrraper .circle-blue{
    background-color: var(--circle-third);
}
/* OUR TEAM */ /* Richard*/ 

.our-team{
    padding: 30px;
    width: 100%;
    box-sizing: border-box;
}

.our-team-container{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.our-team-top{
    justify-content: space-between;
    align-items: flex-start;
    gap: 80px;
}

.our-team-top h2{
    color: var(--color-light);
    padding-left: 150px;
    font-family: "Neue Machina Regular";
    font-size: 60px;
    font-weight: 400;
    margin: 0;
}

.our-team-top p{
    position: relative;
    left: 50%;
    max-width: 520px;
    color: rgba(47, 53, 63, 0.70);
    font-family: Gilroy;
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
    margin: 0;
}

.our-team-image{
    border: 2px solid var(--main-blue, #2E2BD0);
    width: 100%;
    height: 57.063rem;
    border-radius: 40px;
    overflow: hidden;
}

.our-team-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.our-team-values{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.our-team-values article{
    padding: 60px 60px 60px;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    border-right: 1px solid var(--color-blue);
}

.our-team-values article:first-child{
    padding-left: 0;
}

.our-team-values article:last-child{
    border-right: none;
    padding-right: 0;
}

.our-team-values span{
    color: var(--color-blue);
    font-family: "Neue Machina Regular";
    font-size: 60px;
    font-weight: normal;
}

.our-team-values h3{
    margin: 0;
    color: var(--color-light);
    font-family: "Neue Machina Regular";
    font-size: 60px;
    font-weight: 400;
}

.our-team-values p{
    margin: 0;
    color: rgba(47, 53, 63, 0.70);
    font-family: Gilroy;
    font-size: 30px;
    font-weight: 400;
    line-height: 150%;
}

@media (max-width: 1350px){

    .our-team{
        padding: 40px;
    }

    .our-team-container{
        gap: 150px;
    }

    .our-team-top{
        display: flex;
        flex-direction: column;
        gap: 100px;
    }

    .our-team-top h2{
        padding-left: 0;
        font-size: 80px;
        line-height: 110%;
    }

    .our-team-top p{
        position: static;
        max-width: 100%;
        font-size: 40px;
        line-height: 150%;
    }

    .our-team-image{
        height: 715px;
        border-radius: 40px;
    }

    .our-team-image img{
        object-fit: cover;
    }

    .our-team-values{
        margin: 0;
        margin-top: 80px;
        margin-bottom: 80px;
        display: flex;
        flex-direction: column;
        gap: 120px;
    }

    .our-team-values article{
        padding: 0 0 100px 0;
        gap: 100px;
        border-right: none;
        border-bottom: 4px solid var(--color-blue);
    }

    .our-team-values article:last-child{
        padding-bottom: 0;
        border-bottom: none;
    }

    .our-team-values span{
        font-size: 80px;
        line-height: 100%;
    }

    .our-team-values h3{
        font-size: 60px;
        line-height: 120%;
    }

    .our-team-values p{
        font-size: 50px;
        line-height: 150%;
    }
}

/* YEARS */ /* Richard*/ /*ENDS HERE*/

.vertical-line, .one-year{
    width: 1px;
    height: 5.7vw;
    border-right: 1px solid rgba(255, 255, 255, 0.30);;
}

.one-year{
    width: 4px;
    height: 7.8vw;
}

.year-container{
    border-radius: 70px;
    background: linear-gradient(66deg, #2E2BD0 -67.89%, #7876F2 125.28%);
    padding: 150px;
    padding-bottom: 100px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.years{
    width: 100%;
    box-sizing: border-box;
    padding: 0 30px;
    gap: 100px;
    display: flex;
    flex-direction: column;
}
.year-lines{
    padding-top: 5.2vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    box-sizing: border-box;
}

.years h2{
    color: var(--main-light, #2F353F);
    font-family: "Neue Machina Regular";
    font-size: clamp(2rem, 4vw, 3.75rem);
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 90px */
}

.years .text{
    padding: 0 120px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 33.5% 44.1%;;
    grid-template-rows: auto auto;
    column-gap: 210px;
}

.years p{
    color: rgba(47, 53, 63, 0.70);
    font-family: "Gilroy";
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
    grid-row: 2/3;
    grid-column: 2/3;
}

.years b{
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    font-family: "Neue Machina Regular";
    font-size: clamp(1rem, 6vw, 3.75rem);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    right: clamp(70px, 3.9vw, 80px);
    bottom: clamp(80px, 3.9vw, 320px);
}
.year-container .active b{
    color: var(--main-white, #FFF);
    font-size: clamp(3rem, 8vw, 5rem);
    right: clamp(100px, 5vw, 150px);
    bottom: clamp(100px, 4.9vw, 300px);
}

.year-container .active{
    border-width: 4px;
    border-color: white;
}

.year-container ul{
    color: var(--main-white, #FFF);
    font-family: Gilroy;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
    width: 47%;
    align-self: flex-end;
}
header nav li, header, header .select span{
    color: black;
}
header .logo-icon svg path, header .select svg path{
    stroke: black;
}
header .logo-icon svg path{
    fill: black;
}
header nav > svg path{
    fill: black;
}
header{
    border-bottom: 1px solid black;
}
ul li{
    display: flex;
    align-items: center;
}
ul .active{
    color: var(--main-blue, #2E2BD0);
    border-radius: 10px;
    border: 1px solid var(--main-blue, #2E2BD0);
    padding: 10px 20px;
}
main{
    display: flex;
    flex-direction: column;
    gap: 300px;
    padding-bottom: 150px;
}
body{
    display: flex;
    flex-direction: column;
    gap: 150px;
}

header nav ul li a{
    color: black;
}
header .logo-container b{
    display: none;
    color: black;
}

@media (max-width: 1350px) {
    .years .text{
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    .years .text h2{
        font-size: 80px;
    }
    .years .text p{
        font-size: 40px;
    }
    .years{
        padding: 40px;
    }
    .year-container{
        padding: 80px 20px;
    }
    .year-container ul{
        width: 100%;
        font-size: 40px;
        box-sizing: border-box;
    }
    .year-container .one-year{
        height: 513px;
    }
    .year-container .vertical-line{
        height: 376.2px;
    }
    .year-container .one-year b{
        font-size: 80px;
        bottom: 130px;
    }
    .year-container .active b{
        font-size: 100px;
        bottom: 150px;
    }
    .year-lines{
        gap: 30px;
        justify-content: flex-start;
        overflow: scroll;
        box-sizing: border-box;
        padding-top: 150px;
    }
    header .logo-container b{
        display: block;
        font-size: 46px;
    }
    header nav::before{
        color: white;
        background: var(--main-blue, #2E2BD0);
    }
    header .other-nav button{
        background: var(--main-blue, #2E2BD0);
    }
    header .other-nav button svg path{
        stroke: white;
    }
}
@media (max-width: 1350px) {
    .feedback .user-comments {
        display: flex;
        width: 100%;
 
 
    }
    .feedback h2{
    color: var(--main-light, #2F353F);
    font-family: "Neue Machina Regular";
 
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 90px; /* 112.5% */
}
 
.feedback .user-comments{
    width: 100%;
    display: flex;
    overflow-x: scroll;
    padding: 0 30px;
}
 
.feedback .user-info{
    display: flex;
    align-items: flex-end;
    gap: 50px;
}
.feedback .user-info p:nth-child(1){
    color: var(--main-blue, #2E2BD0);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Neue Machina Regular";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 60px */
    margin: 0;
}
.feedback .user-info p:nth-child(2){
    color: rgba(47, 53, 63, 0.70);
    font-family: Gilroy;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 39px */
    margin: 0;
}
 
.feedback .user-info img{
    width: 160px;
    height: 160px;
}
.feedback .comment{
    flex-shrink: 0;
    width: 880px;
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    border: 2px solid #909398;
    padding: 50px;
    box-sizing: border-box;
    gap: 100px;
}
.feedback .user-text{
    color: rgba(47, 53, 63, 0.70);
    font-family: Gilroy;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 60px */
}
 
.feedback button{
    display: flex;
    padding: 24px 40px 17px 40px;
    color: var(--main-blue, #2E2BD0);
    font-family: "Neue Machina Regular";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    justify-content: center;
    align-items: flex-start;
    background-color: transparent;
    border-radius: 20px;
    border: 2px solid var(--main-blue, #2E2BD0);
    box-sizing: border-box;
    gap: 10px;
}
.feedback button svg{
    width: 34px;
    height: 34px;
}
.feedback .number-one{
    display: none;
}
 
.feedback .another-button {
    display: none;
}
 
}
 