.feedback h2 {
    color: var(--main-light, #2F353F);
    font-family: "Neue Machina Regular";
    padding: 0px 7.8vw;
    font-size: 3.1vw;
    font-style: normal;
    font-weight: 400;
    line-height: 112.5%
}


.feedback .user-comments {
    width: 100%;
    display: flex;
    padding: 0px 7.8vw;
    box-sizing: border-box;
}

.feedback .user-info {
    gap: 2.6vw;
}

.feedback .user-info p:nth-child(1) {
    color: var(--main-blue, #2E2BD0);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Neue Machina Regular";
    font-size: 1.3vw;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin: 0;
}

.feedback .user-info p:nth-child(2) {
    color: rgba(47, 53, 63, 0.70);
    font-family: Gilroy;
    font-size: 1vw;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    margin: 0;
}

.feedback .user-info img {
    width: 4.6vw;
    height: 4.6vw;
}



.feedback .comment {
    justify-content: space-between;
    flex-shrink: 0;
    width: 33%;
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    border: 2px solid #909398;
    padding: 2.6vw;
    box-sizing: border-box;
    gap: 2.6vw;
    padding-top: 5.2vw;
}


.feedback .user-text {
    color: rgba(47, 53, 63, 0.70);
    font-family: Gilroy;
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.feedback button {
    display: inline-flex;
    padding: 0.8vw 2vw;
    color: var(--main-blue, #2E2BD0);
    font-family: "Neue Machina Regular";
    font-size: clamp(1px, 1vw, 23px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    justify-content: center;
    align-items: flex-start;
    background-color: transparent;
    border-radius: 20px;
    border: 2px solid var(--main-blue, #2E2BD0);
    box-sizing: border-box;
    gap: 10px;
    width: 70%;
    margin-top: 2.6vw;
    transition: 0.4s;
    cursor: pointer;
}

.feedback button:hover {
    opacity: 1;
    color: white;
    background-color: #2E2BD0;
    transform: scale(1.05);
}

.feedback button:hover svg path {
    stroke: white;
}

.feedback .number-one {
    color: var(--main-light, #2F353F);
    text-align: center;
    font-family: "Neue Machina Regular";
    font-size: 1.6vw;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}


.feedback .another-button {
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    gap: 2.6vw;
    padding: 0px 7.8vw;
    box-sizing: border-box;
    margin-top: 7.8vw;
}

.feedback .animation-button {
    cursor: pointer;
    transition: 0.4s ease;

}

.feedback .animation-button path {
    stroke: #2E2BD0;
    transition: 0.4s ease;
    opacity: 1;
    stroke-width: 2;

}

.feedback .animation-button:hover path {

    stroke: #317cff;
}

.feedback .animation-button:hover {
    transform: scale(1.2);
}

.feedback .user-comments {
    position: relative;
    height: 46vw;
    overflow: hidden;
}

.feedback .comment {
    position: absolute;
}

.feedback .comment.center {
    left: 35%;
    z-index: 3;
    opacity: 1;
    height: 100%;
}

.feedback .comment.left {
    left: 0;
    opacity: 0.7;
    z-index: 2;
    height: 100%;
}

.feedback .comment.right {
    left: 70%;
    opacity: 0.7;
    z-index: 2;
    height: 100%;
}

@media (max-width: 1350px) {
    .feedback .comment {
        position: static;
        display: flex;
        width: 100%;
        flex-direction: column;
        border-radius: 40px;
        border: 2px solid #909398;
        padding: 4.6vw;
        box-sizing: border-box;
    }

    .feedback h2 {
        color: var(--main-light, #2F353F);
        font-family: "Neue Machina Regular";
        font-size: 7.4vw;
        font-style: normal;
        font-weight: 400;
        line-height: 112.5%;
    }

    .feedback .user-comments {
        width: 100%;
        display: flex;
        overflow-x: scroll;
        padding: 0 2.7vw;
        gap: 1.8vw;
    }

    .feedback .user-info {
        display: flex;
        align-items: flex-end;
        gap: 4.6vw;
    }

    .feedback .user-info p:nth-child(1) {
        color: var(--main-blue, #2E2BD0);
        font-feature-settings: 'liga' off, 'clig' off;
        font-family: "Neue Machina Regular";
        font-size: 3.7vw;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        margin: 0;
    }

    .feedback .user-info p:nth-child(2) {
        color: rgba(47, 53, 63, 0.70);
        font-family: Gilroy;
        font-size: 2.7vw;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        margin: 0;
    }

    .feedback .user-info img {
        width: 14.8vw;
        height: 14.8vw;
    }

    .feedback .comment {
        flex-shrink: 0;
        width: 81vw;
        display: flex;
        flex-direction: column;
        border-radius: 40px;
        border: 2px solid #909398;
        padding: 4.6vw;
        box-sizing: border-box;
        gap: 9.2vw;
    }

    .feedback .user-text {
        color: rgba(47, 53, 63, 0.70);
        font-family: Gilroy;
        font-size: 3.7vw;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
    }

    .feedback button {
        display: flex;
        padding: 2.2vw 3.7vw 1.5vw 3.7vw;
        color: var(--main-blue, #2E2BD0);
        font-family: "Neue Machina Regular";
        font-size: 2.7vw;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
        justify-content: center;
        align-items: flex-start;
        background-color: transparent;
        border-radius: 20px;
        border: 2px solid var(--main-blue, #2E2BD0);
        box-sizing: border-box;
        gap: 10px;
    }

    .feedback button svg {
        width: 3.1vw;
        height: 3.1vw;
    }

    .feedback .number-one {
        display: none;
    }

    .feedback .another-button {
        display: none;
    }


    .feedback h2 {
        color: var(--main-light, #2F353F);
        font-family: "Neue Machina Regular";
        padding: 0 2vw;
        font-size: 7.4vw;
        font-style: normal;
        font-weight: 400;
        line-height: 112.5%;
    }

    .feedback .user-comments {
        width: 100%;
        display: flex;
        overflow-x: scroll;
        box-sizing: border-box;
        padding: 0 1vw;
        gap: 1.8vw;
    }

    .feedback .user-info {
        display: flex;
        align-items: flex-end;
        gap: 2.6vw;
    }

    .feedback button svg {
        width: 3.1vw;
        height: 3.1vw;
    }

    .feedback .user-info p:nth-child(1) {
        color: var(--main-blue, #2E2BD0);
        font-feature-settings: 'liga' off, 'clig' off;
        font-family: "Neue Machina Regular";
        font-size: 3.7vw;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        margin: 0;
    }

    .feedback .user-info p:nth-child(2) {
        color: rgba(47, 53, 63, 0.70);
        font-family: Gilroy;
        font-size: 2.7vw;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        margin: 0;
    }

    .feedback .user-info img {
        width: 14vw;
        height: 14vw;
    }

    .feedback .comment {
        flex-shrink: 0;
        width: 55vw;
        display: flex;
        flex-direction: column;
        border-radius: 3.7vw;
        border: 2px solid #909398;
        padding: 2.6vw;
        box-sizing: border-box;
        gap: 5.2vw;
    }

    .feedback .user-text {
        color: rgba(47, 53, 63, 0.70);
        font-family: Gilroy;
        font-size: 3.7vw;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
    }

    .feedback button {
        display: flex;
        padding: 1vw;
        color: var(--main-blue, #2E2BD0);
        font-family: "Neue Machina Regular";
        font-size: 2.7vw;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border-radius: 20px;
        border: 2px solid var(--main-blue, #2E2BD0);
        box-sizing: border-box;
        gap: 0.52vw;
        /* 10px / 19.2 */
        width: 70%;
    }
}

:root {
    --circle-first: #2F353F;
    --circle-second: #C1C2C5;
    --circle-third: #2E2BD0;
    --color-main-blue: #2E2BD0;
    --radius-info-grid-article: 2vw;
    --font-size-info-grid-article-p: 3.7vw;
    --radius-circle: 16.6vw;
    --border-circle: 2px solid #FFF;
    --font-size-media: 16.2vw;
    --radius-article-media: 8.2vw;
}

.info * {
    padding: 0;
    margin: 0;
}

.info {
    padding: 0 7.8vw;

}

.info h1:nth-child(1) {
    color: var(--main-light, #2F353F);
    font-family: "Neue Machina Regular";
    font-size: 3.1vw;
    padding-bottom: 2.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.info h1:nth-child(2) {
    display: none;
    color: var(--main-light, #2F353F);
    font-family: "Neue Machina Regular";
    font-size: 3.1vw;
    padding-bottom: 2.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.info-container {
    display: flex;
    column-gap: 8.3vw;
    margin-bottom: 12.5vw;
}

.info-container .info__text {
    max-width: 47rem;
    width: 100%;
    margin-bottom: 1.6vw;
}

.info-container .info__text p {
    color: rgba(47, 53, 63, 0.70);
    font-family: Gilroy;
    font-size: var(--font-size-info-grid-article-p);
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.info-container .info-grid {
    display: grid;
    grid-template-columns: repeat(2, 18vw);
    grid-template-rows: repeat(2, 12.5vw);
}

.info-container .info-grid article {
    display: flex;
    flex-direction: column;
    row-gap: 1.6vw;
    box-sizing: border-box;
    padding: 1.6vw;
    border-radius: var(--radius-info-grid-article);
    border: 1px solid #909398;
}

.info-grid article:nth-child(3) {
    background-image: url(../img/background-img.jpg);
    background-blend-mode: soft-light;
    background-size: cover;
    position: relative;
    right: 1rem;
    top: 1rem;
    background-color: #5E5BE3;
    transition: 1s;
}

.info-grid article:nth-child(3):hover {
    transform: translate(17px, -17px);
}

.info-grid article:nth-child(3) span {
    color: white;
}

.info-grid article:nth-child(3) p {
    color: rgba(255, 255, 255, 0.70);
}

.info-grid article:last-child {
    row-gap: 0px;
}

.info-grid article span {
    color: var(--color-main-blue);
    font-family: "Neue Machina Regular";
    font-size: 2.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.info-grid article p {
    color: rgba(47, 53, 63, 0.70);
    font-family: Gilroy;
    font-size: 1.25vw;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;

}

.circles-wrraper {
    display: flex;
}

.circles-wrraper .circle {
    flex-shrink: 0;
    width: clamp(9rem, 8vw, 11.25rem);
    height: clamp(9rem, 8vw, 11.25rem);
    border-radius: var(--radius-circle);
    border: var(--border-circle);
}

.circles-wrraper .circle:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9695E7;
    transition: 0.5s;
    cursor: pointer;

}

.circles-wrraper .circle:last-child:hover {
    transform: scale(1.08);
    background-color: #a1a0e9;

}

.circle-moved {
    margin-left: -2.75vw;
}

.circles-wrraper .circle-black {
    background-color: var(--circle-first);
    transition: 0.5s;

}

.circles-wrraper .circle-black:hover {
    opacity: 1;
    background-color: rgb(26, 24, 24);
    border-color: rgb(82, 82, 82);
    box-shadow: 1px 1px 10px 5px rgb(26, 24, 24);

}


.circles-wrraper .circle-white {
    background-color: var(--circle-second);
    transition: 0.5s;
}

.circles-wrraper .circle-white:hover {
    opacity: 1;
    background-color: rgb(204, 204, 204);
    box-shadow: 1px 1px 10px 5px rgb(153, 153, 153);

}


.circles-wrraper .circle-blue {
    background-color: var(--circle-third);
    transition: 0.5s;
}

.circles-wrraper .circle-blue:hover {
    opacity: 1;
    background-color: rgb(13, 73, 253);
    border-color: rgb(117, 152, 255);
    box-shadow: 1px 1px 10px 3px rgb(54, 71, 249);

}

.our-team {
    padding: 1.5vw;
    width: 100%;
    box-sizing: border-box;
}

.our-team-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 3.6vw
}

.our-team-top {
    justify-content: space-between;
    align-items: flex-start;
    gap: 4.1vw;
}

.our-team-top h2 {
    color: var(--color-light);
    padding-left: 7.8vw;
    font-family: "Neue Machina Regular";
    font-size: 3.1vw;
    font-weight: 400;
    margin: 0;
}

.our-team-top p {
    position: relative;
    left: 50%;
    max-width: 520px;
    color: rgba(47, 53, 63, 0.70);
    font-family: Gilroy;
    font-size: 1vw;
    font-weight: 400;
    line-height: 150%;
    margin: 0;
}

.our-team-image {
    border: 2px solid var(--main-blue, #2E2BD0);
    width: 100%;
    height: 47vw;
    border-radius: 40px;
    overflow: hidden;
}

.our-team-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.our-team-values {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 4.1vw;
    margin-bottom: 4.1vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.our-team-values article {
    padding: 3.1vw 3.1vw 3.1vw;
    display: flex;
    flex-direction: column;
    gap: 4.1vw;
    border-right: 1px solid var(--color-blue);
}

.our-team-values article:first-child {
    padding-left: 0;
}

.our-team-values article:last-child {
    border-right: none;
    padding-right: 0;
}

.our-team-values span {
    color: var(--color-blue);
    font-family: "Neue Machina Regular";
    font-size: 3.1vw;
    font-weight: normal;
}

.our-team-values h3 {
    margin: 0;
    color: var(--color-light);
    font-family: "Neue Machina Regular";
    font-size: 3.1vw;
    font-weight: 400;
}

.our-team-values p {
    margin: 0;
    color: rgba(47, 53, 63, 0.70);
    font-family: Gilroy;
    font-size: 1.5vw;
    font-weight: 400;
    line-height: 150%;
}

@media (max-width: 1350px) {
    .our-team {
        padding: 3.7vw;
    }

    .our-team-container {
        gap: 13.8vw;
    }

    .our-team-top {
        display: flex;
        flex-direction: column;
        gap: 9.2vw;
    }

    .our-team-top h2 {
        padding-left: 0;
        font-size: 7.4vw;
        line-height: 110%;
    }

    .our-team-top p {
        position: static;
        max-width: 100%;
        font-size: 3.7vw;
        line-height: 150%;
    }

    .our-team-image {
        height: 66vw;
        border-radius: 40px;
    }

    .our-team-image img {
        object-fit: cover;
    }

    .our-team-values {
        margin: 0;
        margin-top: 7.4vw;
        margin-bottom: 7.4vw;
        display: flex;
        flex-direction: column;
        gap: 11.1vw;
    }

    .our-team-values article {
        padding: 0 0 9.2vw 0;
        gap: 9.2vw;
        border-right: none;
        border-bottom: 4px solid var(--color-blue);
    }

    .our-team-values article:last-child {
        padding-bottom: 0;
        border-bottom: none;
    }

    .our-team-values span {
        font-size: 7.4vw;
        line-height: 100%;
    }

    .our-team-values h3 {
        font-size: 5.5vw;
        line-height: 120%;
    }

    .our-team-values p {
        font-size: 4.6vw;
        line-height: 150%;
    }
}

.vertical-line,
.one-year {
    width: 1px;
    height: 5.7vw;
    border-right: 1px solid rgba(255, 255, 255, 0.30);
}

.one-year {
    width: 4px;
    height: 7.8vw;
}

.year-container {
    border-radius: 70px;
    background: linear-gradient(66deg, #2E2BD0 -67.89%, #7876F2 125.28%);
    padding: 7.8vw;
    padding-bottom: 5.2vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 2.6vw;
}

.years {
    width: 100%;
    box-sizing: border-box;
    padding: 0 1.5vw;
    gap: 1.5vw;
    display: flex;
    flex-direction: column;
}

.year-lines {
    padding-top: 5.2vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    box-sizing: border-box;
}

.years h2 {
    color: var(--main-light, #2F353F);
    font-family: "Neue Machina Regular";
    font-size: clamp(2rem, 4vw, 3.75rem);
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.years .text {
    padding: 0 6.2vw;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 33.5% 44.1%;
    grid-template-rows: auto auto;
    column-gap: 10.9vw;
}

.years p {
    color: rgba(47, 53, 63, 0.70);
    font-family: "Gilroy";
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    grid-row: 2/3;
    grid-column: 2/3;
}

.years b {
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    font-family: "Neue Machina Regular";
    font-size: clamp(1rem, 6vw, 3.75rem);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    right: clamp(70px, 3.9vw, 80px);
    bottom: clamp(80px, 3.9vw, 320px);
}

.year-container .active b {
    color: var(--main-white, #FFF);
    font-size: clamp(3rem, 8vw, 5rem);
    right: clamp(100px, 5vw, 150px);
    bottom: clamp(100px, 4.9vw, 300px);
}

.year-container .active {
    border-width: 4px;
    border-color: white;
}

.year-container ul {
    color: white;
    font-family: Gilroy;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    width: 47%;
    align-self: flex-end;
    list-style-type: disc;
}

header nav li,
header,
header .select span {
    color: black;
}

header .logo-icon svg path,
header .select svg path {
    stroke: black;
}

header .logo-icon svg path {
    fill: black;
}

header nav>svg path {
    fill: black;
}

header {
    border-bottom: 1px solid black;
}

header ul li {
    display: flex;
    align-items: center;
    cursor: pointer;
}

header nav ul .active {
    color: var(--main-blue, #2E2BD0);
    border-radius: 10px;
    border: 1px solid var(--main-blue, #2E2BD0);
    padding: 0.5vw 1vw;
}

main {
    display: flex;
    flex-direction: column;
    gap: 15.6vw;
    padding-bottom: 15.6vw;
}

body {
    display: flex;
    flex-direction: column;
    gap: 7.8vw;
}

header nav ul li a {
    color: black;
}

header .logo-container b {
    display: none;
    color: black;
}

@media (max-width: 1350px) {
    .years .text {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .years .text h2 {
        font-size: 7.4vw;
    }

    .years .text p {
        font-size: 3.7vw;
    }

    .years {
        padding: 3.7vw;
    }

    .year-container {
        padding: 7.4vw 1.8vw;
    }

    .year-container ul {
        width: 100%;
        font-size: 3.7vw;
        box-sizing: border-box;
    }

    .year-container .one-year {
        height: 47.7vw;
    }

    .year-container .vertical-line {
        height: 34.8vw;
    }

    .year-container .one-year b {
        font-size: 7.4vw;
        bottom: 12vw;
    }

    .year-container .active b {
        font-size: 9.2vw;
        bottom: 13.8vw;
    }

    .year-lines {
        gap: 2.7vw;
        justify-content: flex-start;
        overflow: scroll;
        box-sizing: border-box;
        padding-top: 13.8vw;
    }

    header {
        padding: 7.8vw 2vw;
        border-bottom: 0;
    }

    header .logo-container b {
        display: block;
        font-size: 4.2vw;
    }

    #burger-button {
        color: white;
        background: var(--main-blue, #2E2BD0);
    }

    header .other-nav button {
        background: var(--main-blue, #2E2BD0);
    }

    header .other-nav button svg path {
        stroke: white;
    }

    .info-container {
        margin-bottom: 9.2vw;
        flex-wrap: wrap;
    }

    .info-container .info-grid {
        margin-top: 9.2vw;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 51.8vw);
        width: 100%;
    }

    .circle-media {
        display: none;
    }

    .info-grid article:nth-child(3) {
        background-image: none;
        background-color: white;
        right: 0;
        top: 0;
    }

    .info-grid article:nth-child(3) span {
        color: var(--color-main-blue);
    }

    .info-grid article:nth-child(3):hover {
        transform: translate(0px, 0px);
    }

    .info-grid article span {
        font-size: var(--font-size-media);
    }

    .info-container .info-grid article {
        padding: 5.9vw;
        border-radius: var(--radius-article-media);
        justify-content: space-between;
    }

    .info-grid article:nth-child(3) p {
        color: rgba(47, 53, 63, 0.70);
    }

    .circles-wrraper .circle {
        width: 15.7vw;
        height: 15.7vw;
    }

    .info-grid article p {
        font-size: 3.7vw;
    }

    .info {
        padding: 0 3.7vw;
    }

    .circles-wrraper .circle {
        width: 20vw;
        height: 20vw;
    }

    .info h1:nth-child(1) {
        display: none;
    }

    .info h1:nth-child(2) {
        display: block;
        font-size: 7.4vw;
    }


    @media (max-width: 1350px) {
        .feedback .user-comments {
            display: flex;
            width: 100%;
        }

        .feedback h2 {
            color: var(--main-light, #2F353F);
            font-family: "Neue Machina Regular";
            padding: 0px 3.7vw;
            font-size: 7.4vw;
            font-style: normal;
            font-weight: 400;
            line-height: 112.5%;
        }

        .feedback .user-comments {
            width: 100%;
            display: flex;
            overflow-x: scroll;
            padding: 0 3.7vw;
        }

        .feedback .user-info {
            display: flex;
            align-items: flex-end;
            gap: 4.6vw;
        }

        .feedback .user-info p:nth-child(1) {
            color: var(--main-blue, #2E2BD0);
            font-feature-settings: 'liga' off, 'clig' off;
            font-family: "Neue Machina Regular";
            font-size: 3.7vw;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            margin: 0;
        }

        .feedback .user-info p:nth-child(2) {
            color: rgba(47, 53, 63, 0.70);
            font-family: Gilroy;
            font-size: 2.7vw;
            font-style: normal;
            font-weight: 400;
            line-height: 130%;
            margin: 0;
        }

        .feedback .user-info img {
            width: 14vw;
            height: 14vw;
        }

        .feedback .comment {
            flex-shrink: 0;
            width: 80vw;
            display: flex;
            flex-direction: column;
            border-radius: 40px;
            border: 2px solid #909398;
            padding: 4.6vw;
            box-sizing: border-box;
            gap: 0px;
        }

        .feedback .user-text {
            color: rgba(47, 53, 63, 0.70);
            font-family: Gilroy;
            font-size: 3.7vw;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
        }

        .feedback button {
            display: flex;
            padding: 2.2vw 3.7vw 1.5vw 3.7vw;
            color: var(--main-blue, #2E2BD0);
            font-family: "Neue Machina Regular";
            font-size: 2.7vw;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-transform: uppercase;
            justify-content: center;
            align-items: center;
            background-color: transparent;
            border-radius: 20px;
            border: 2px solid var(--main-blue, #2E2BD0);
            box-sizing: border-box;
            gap: 10px;
            width: 42vw;
        }

        .feedback button svg {
            width: 3vw;
            height: 3vw;
        }

        .feedback .number-one {
            display: none;
        }

        .feedback .another-button {
            display: none;
        }

        .feedback .user-comments {
            height: 80vw;
        }

        .comment {
            opacity: 1 !important;
        }
    }
}