
main section .container__section * {
    padding: 0;
    margin: 0;
}

section .container__section{
    padding: 0 150px;
}

section .container__section h1{
    color: var(--main-light, #2F353F);
    font-family: "Neue Machina Regular";
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 100px;
}
section .container__section > p{
    width: 726px;
    color: rgba(47, 53, 63, 0.70);
    font-family: Gilroy;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding-bottom: 150px;
}
section .container__section article{
    max-width: 1116px;
    width: 100%;
    border-radius: 70px;
    border: 1px solid rgba(47, 53, 63, 0.50);   
    padding: 50px;
}
section .container__section article h4{
    color: var(--main-blue, #2E2BD0);
    font-family: "Neue Machina Regular";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 50px;
}
section .container__section article p{
    max-width: 1016px;
    width: 100%;
    color: rgba(47, 53, 63, 0.70);
    font-family: "Gilroy";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
}
section .container__section .wrraper {
    display: flex;
    column-gap: 200px;
}
section .container__section .wrraper .nav{
    display: flex;
    flex-direction: column;
    row-gap: 100px;
    width: 305px;
    height: 502.5px;
    border-color:  rgba(47, 53, 63, 0.14); 
    border-bottom: 2px;
    border-left: solid;
    border-left-color:  rgba(47, 53, 63, 0.14);
    border-left-width:3px ;
}
.wrraper ul li{
    list-style-type: none;
    color: rgba(47, 53, 63, 0.30);
    font-family: "Neue Machina Regular";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
    padding-left: 47.5px; 
}
.wrraper ul li:first-child{
    color: var(--main-blue, #2E2BD0);
    border-left: solid;
    border-left-color: var(--main-blue, #2E2BD0); 
    border-left-width:5px ;
    position: relative;
    left: -2px;
}
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 250px;
}

.hero{
    width: 100%;
    min-height: 100vh;

    background:
        linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)),
        url("../img/main/header_background.jpg") center/cover no-repeat;

    position: relative;
}

/* linija */

header::after{
    content: "";

    position: absolute;

    left: 30px;
    right: 30px;
    top: 118px;

    height: 1px;

    background: var(--main-white, #FFF);
}

/* hero content */

.hero-content{
    position: absolute;

    left: 80px;
    top: 320px;

    display: flex;
    width: fit-content;
    flex-direction: column;

    gap: 70px;
}

.hero-content h1{
    width: 700px;

    color: var(--main-white, #FFF);

    font-family: "Neue Machina Regular";
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%;

    position: relative;
}

/* fioletine linija */

.hero-content h1::after{
    content: "";

    position: absolute;

    left: 0;
    bottom: 12px;

    width: 670px;
    height: 50px;

    background: var(--color-blue);

    z-index: -1;
}

/* button */

.estimate-btn{
    width: 220px;
    height: 220px;

    border-radius: 50%;
    border: 1px solid white;

    background: transparent;

    color: white;

    font-family: "Neue Machina Regular";
    font-size: 24px;
    font-weight: 400;
    line-height: 130%;

    cursor: pointer;

    transition: 0.3s;
}

.estimate-btn:hover{
    background: rgba(255,255,255,0.08);
}

/* contact button */

.other-nav > button{
    width: 254px;
    height: 59px;
}

/* elementai virsuje */

header,
.hero-content{
    position: relative;
    z-index: 2;
}

/* ivatciai */

.goals{
    width: 100%;

    display: flex;
    justify-content: center;

    padding: 120px 0;

    background: #FFF;
}

.goals-container{
    width: 1400px;
}

.goals h2{
    margin-bottom: 70px;
    color: #2F353F;
    font-family: "Neue Machina Regular";
    font-size: 60px;
    font-weight: 400;
    line-height: 130%;
}

/* GRID */

.goals-grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0;
}

/* sizes */

.goal-third{
    grid-column: span 4;
}

.double-third{
    grid-column: span 8;
}

.goal-half{
    grid-column: span 6;
}

.goal-wide{
    grid-column: span 9;
}

.goal-small{
    grid-column: span 3;
}

/* card */

.goal-card{
    height: 420px;
    border: 1px solid #D9D9D9;
    border-radius: 40px;
    padding: 50px;
    box-sizing: border-box;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.goal-card span{
    color: var(--main-blue, #2E2BD0);

    font-family: "Neue Machina Regular";
    font-size: 40px;
    font-weight: 400;
}

.goal-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.goal-text h3{
    color: var(--main-light, #2F353F);
    font-family: "Neue Machina Regular";
    font-size: 30px;
    font-weight: 400;
    line-height: 150%;
}

.goal-text p{
    color: rgba(47, 53, 63, 0.70);
    font-family: Gilroy;
    font-size: 27px;
    font-weight: 400;
    line-height: 150%;
}

/* images */

.goal-image{
    height: 420px;

    overflow: hidden;

    border-radius: 40px;
}

.goal-image img{
    width: 100%;
    height: 100%;

    object-fit: cover;

    display: block;
}

main .technologies{
    padding: 0 150px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.technologies h2{
    color: var(--main-light, #2F353F);
    font-family: "Neue Machina Regular";
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.technologies > p{
    align-self: flex-end;
    width: 634px;
    color: rgba(47, 53, 63, 0.70);
    font-family: Gilroy;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
    margin-right: 236px;
}

.technologies .pin-container{
    display: flex;
    position: relative;
    bottom: 13px;
}

.technologies .pin-container p{
    color: rgba(47, 53, 63, 0.70);
    font-family: Gilroy;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 23.4px */
}

.technologies > *{
    margin: 0;
}

.technologies .pin{
    width: 15px;
    height: 15px;
    background-color: #93969B; 
    border-radius: 100%;
}

.technologies .active-pin div{
    width: 20px;
    height: 20px;
    background-color: var(--main-blue, #2E2BD0);
    /* box-shadow: 0px 0px 0px 10px #CBCAF3; */
    border: 10px solid #CBCAF3;
}

.pin-container .active-pin p{
    color: var(--main-light, #2F353F);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Neue Machina Regular";
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 33.8px */
}
.pin-container .active-pin{
    position: relative;
    bottom: 10px;
    right: 10px; 
}

.pin-container svg{
    border-radius: 20px;
    border: 1.5px solid var(--main-blue, #2E2BD0);
    padding: 10px;
}

/*  AGENDA  */
.container__agenda *{
    padding: 0;
    margin: 0;
}
.container__agenda{
    padding: 0 8%
    
}
.container__agenda h1{
    color: var(--main-light, #2F353F);
    font-family: "Neue Machina Regular";
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.container__agenda .agenda{
    margin-top: 5.8rem;
    max-width: 101rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,minmax(6.5rem,auto ) )
}

.agenda article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1.5rem;
    border-radius: 40px;
    border: 1px solid rgba(47, 53, 63, 0.50);
    padding: 3rem;
}
.agenda article:first-child{
    border: 0px;
    
}
.agenda article:first-child p{
    color: var(--main-light, #2F353F);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Neue Machina Regular";
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 39px */

}
.agenda article:last-child{
    border-radius: 40px;
    background-color: #5E5BE3;
    margin: 1.25rem 1px 0 1rem;
    grid-area: 2 / 3 / 4 / 4;
}
.agenda article:last-child h1{
    color: var(--main-white, #FFF);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Neue Machina Regular";
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 39px */
}
.agenda article:last-child p{
    color: rgba(255, 255, 255, 0.70);
    font-family: Gilroy;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
}
.agenda article h1{
    color: var(--main-light, #2F353F);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Neue Machina Regular";
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 39px */
}
.agenda article p{
    color: rgba(47, 53, 63, 0.70);
    font-family: Gilroy;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
}
.container__agenda button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 280px;
    border: 2px solid var(--main-light, #2F353F);
    max-width: 17.5rem;
    width: 100%;
    height: 17.5rem;
    color: var(--main-light, #2F353F);
    text-align: center;
    font-family: "Neue Machina Regular";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 39px */
    text-transform: uppercase;
    background-color: white;
}
.container__agenda button h1{
    max-width: 10rem;
    width: 100%;
    color: var(--main-light, #2F353F);
    text-align: center;
    font-family: "Neue Machina Regular";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 39px */
    text-transform: uppercase;
}
article.diff-article{
    padding: 2.8rem 3.4rem;
}

/* Industries Section */
.industries *{
    padding: 0;
    margin: 0;
}
.industries{
    display: flex;
    flex-direction: column;
    row-gap: 100px;
    padding-left: 150px;
}
.industries h1{
    color: var(--main-light, #2F353F);
    font-family: "Neue Machina Regular";
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.industries-container{
    display: flex;
    column-gap: 51px;
    margin-bottom: 250px;
}
.industries-container article{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    flex-basis: 506px;
}
.industries-container article h1{
    color: var(--main-light, #2F353F);
    font-family: "Neue Machina Regular";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 60px */
}
.industries-container article p{
    color: rgba(47, 53, 63, 0.70);
    font-family: Gilroy;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
}
.industries-container article hr{
    height: 1px;
    width: 100%;
    background-color: #2F353F;
    border-radius: 10px;
}
